<div class="col-md-12">
<div class="col-md-10" style="position: relative;">
	<h3>23.5</h3>
	<div class="chat">
		<div class="inline">
		<span class="f-left">16:24|13.08</span>
		<span class="text-chat">טקסט טקסט טקסט טקסט</span>
		</div>
		<div class="chat-img">
		<img src="images/untitled1.jpg" />
		</div>
	</div>
	<div class="chat right">
		<div class="inline">
		<span class="f-left">16:24|13.08</span>
		<span class="text-chat">טקסט טקסט טקסט טקסט</span>
		</div>
		<div class="chat-img">
		<img src="images/untitled1.jpg" />
		</div>
	</div>
	<div class="chat">
		<div class="inline" style="width: 100%;">
		<span class="f-left">16:24|13.08</span>
		<span class="text-chat">טקסט טקסט טקסט טקסט</span>
		</div>
	</div>
	<div class="chat">
		<div class="inline" style="width: 100%;">
		<span class="f-left">16:24|13.08</span>
		<span class="text-chat">טקסט טקסט טקסט טקסט</span>
		</div>
	</div>
	<div class="chat">
		<div class="inline" style="width: 100%;">
		<span class="f-left">16:24|13.08</span>
		<span class="text-chat">טקסט טקסט טקסט טקסט</span>
		</div>
	</div>
	<div class="chat right">
		<div class="inline" style="width: 100%;">
		<span class="f-left">16:24|13.08</span>
		<span class="text-chat">טקסט טקסט טקסט טקסט</span>
		</div>
	</div>

</div>

</div>
	<div style="clear: both;"></div>
	<div class="box-img" style="height: 86px;">
	<img src="images/01.png" />
	<img src="images/02.png" />
	<img src="images/03.png" />
	<img src="images/04.png" />
	<img src="images/05.png" />
	<img src="images/06.png" />
	<img src="images/07.png" />
	<img src="images/08.png" />
	<img src="images/01.png" />
	<img src="images/02.png" />
	<img src="images/03.png" />
</div>
	
<footer>
	<div style="    padding-top: 20px;">
	<button class="btnhand"><img style="width: 30px;" src="images/hand.png" /></button>
	<select>
		<option>בחר תגובה</option>
	</select>
	</div>
</footer>


<style>


.chat{
	margin-bottom: 15px;
	background-color:white;
	border-radius: 5px;	
    float: left;
    box-shadow: 1px 0px 1px 0px #bfbfbf;
    height: 65px;
    width: 75%;
	}
.chat-img{
	width:20%
	border-radius: 5px 0px 0px 5px;
	overflow: hidden;
	height: 100%;
	width:55px;
	float: left;
	position: relative;
	
	}
.chat img{
	border-radius: 5px 0px 0px 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	}
body{
	background-color: #F6F7F7;
}	
</style>